.collection-item {
    display:block;
    background: white;
    cursor: pointer;
    padding: 5px 0 5px 0;
}

.collection-item:hover {
    background: #37474f;
    color: #FFFFFF;
}

#product_autocomplete{
    width: 50%
}

nav #search-input {
    height: 64px;
}