.collection-item {
    display:block;
    background: white;
    cursor: pointer;
    padding: 5px 0 5px 0;
}

.collection-item:hover {
    background: #37474f;
    color: #FFFFFF;
}

#product_autocomplete{
    width: 50%
}

nav #search-input {
    height: 64px;
}

i {
    display: inline-flex;
    vertical-align: middle;
}

i.decrease {
    color: #43a047;
    font-size: 30px;
}

i.increase {
    color: #e53935;
    font-size: 30px;
}

.collection-item span {
    font-size: 20px;
}

.collection-item img {
    max-width: 100%;
    max-height: 100%;
}

.tabs .tab a {
    color: #37474f;
}

.tabs .tab a:hover {
    color: lightgray;
}

.tabs .indicator {
    background-color: #37474f;
}