<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
</head>

<script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
<body>
    {% include "ProductAutocomplete.html" %}
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</body>
<script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>

<script>
    productChartHandler({{ data|safe }}, "{{ product.name }}");
</script>
</html>